<header class="sticky top-0 z-50
             border-b border-white/10
             bg-black/20 backdrop-blur-xl">

    <div class="flex items-center justify-between p-6">

        <!-- SEARCH -->
        <div class="flex w-100 items-center gap-3
                 rounded-2xl border border-white/10
                 bg-white/5 px-4 py-3">

            <mat-icon class="text-slate-400">
                search
            </mat-icon>

            <input type="text" placeholder="Search Angular topics..." class="w-full bg-transparent
                   outline-none placeholder:text-slate-500" />

        </div>

        <!-- ACTIONS -->
        <div class="flex items-center gap-4">

            <button class="rounded-2xl border border-white/10
                   bg-white/5 px-5 py-3
                   transition hover:bg-white/10">
                Angular 21
            </button>

            <div class="h-12 w-12 rounded-full
                   bg-gradient-to-br
                   from-cyan-400 to-blue-600"></div>

        </div>

    </div>

</header>