:host {
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b1120;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}